## Generating the Education attribute

In [1]:
liv_dict = {"Big City Center":4,"Big City Suburbs":2.4,"Small City":3.2,"Rural":2.1}

def f_age_edu(age):
    if age > 30:
        res = 240
    else:
        res = 8*age
    return res

def f_liv_edu(liv):
    res = liv_dict[liv]*75
    return res

# function that ouputs the wieghted sum of age and liv_area values
def education(age,liv):
    res = (f_age_edu(age) + f_liv_edu(liv))/2
    return res

In [2]:
import random
import numpy as np
age = [random.randrange(20,60) for i in range(100)]
age = np.array(age)

In [3]:
bcc = np.full(shape=25, fill_value="Big City Center")
bcs = np.full(shape=25, fill_value="Big City Suburbs")
ru = np.full(shape=25, fill_value="Rural")
sc = np.full(shape=25, fill_value="Small City")
liv_area = np.concatenate([bcc,bcs,ru,sc])

In [4]:
liv_area = np.expand_dims(liv_area, axis = 1)
age = np.expand_dims(age,axis = 1)
data = np.hstack([age,liv_area])

In [5]:
data.shape

(100, 2)

In [6]:
import pandas as pd
df = pd.DataFrame(data,columns =['Age','Living Area'])

In [7]:
df

   Age      Living Area
0   50  Big City Center
1   54  Big City Center
2   34  Big City Center
3   32  Big City Center
4   46  Big City Center
..  ..              ...
95  37       Small City
96  46       Small City
97  58       Small City
98  22       Small City
99  53       Small City

[100 rows x 2 columns]

In [8]:
def score_to_cat(el):
    
        if el < 180:
            el = 'Middle School'
        elif el >= 180 and el < 240:
            el = 'High School'
        elif  el >= 240 and el < 274:
            el = 'University'
        elif el >= 274:
            el = 'PhD'
       
        return el

In [9]:
edu = np.empty((100,1), dtype='object')

for index,row in df.iterrows():
    curr_age = row['Age']
    curr_liv = row['Living Area']
    res = education(int(curr_age),curr_liv)
    noise = np.random.normal(0,8)
    noise_res = res + noise
    #adding noise
    
    res = score_to_cat(noise_res)
    edu[index] = res
df['Education'] = edu

In [10]:
df.sample(20)

   Age       Living Area      Education
80  43        Small City     University
35  28  Big City Suburbs    High School
2   34   Big City Center     University
34  55  Big City Suburbs    High School
27  22  Big City Suburbs  Middle School
19  56   Big City Center            PhD
96  46        Small City    High School
76  39        Small City    High School
91  35        Small City     University
29  35  Big City Suburbs    High School
30  32  Big City Suburbs    High School
61  42             Rural    High School
59  57             Rural    High School
75  22        Small City    High School
18  49   Big City Center     University
22  41   Big City Center     University
7   52   Big City Center     University
44  53  Big City Suburbs    High School
66  41             Rural    High School
36  33  Big City Suburbs    High School

In [11]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df)

   Age       Living Area      Education
0   50   Big City Center            PhD
1   54   Big City Center            PhD
2   34   Big City Center     University
3   32   Big City Center     University
4   46   Big City Center     University
5   56   Big City Center     University
6   39   Big City Center     University
7   52   Big City Center     University
8   26   Big City Center     University
9   48   Big City Center     University
10  40   Big City Center            PhD
11  46   Big City Center     University
12  23   Big City Center    High School
13  46   Big City Center     University
14  34   Big City Center            PhD
15  44   Big City Center     University
16  30   Big City Center     University
17  29   Big City Center     University
18  49   Big City Center     University
19  56   Big City Center            PhD
20  47   Big City Center     University
21  37   Big City Center            PhD
22  41   Big City Center     University
23  51   Big City Center            PhD
24  42   Big City Center            PhD
25  29  Big City Suburbs    High School
26  28  Big City Suburbs    High School
27  22  Big City Suburbs  Middle School
28  49  Big City Suburbs    High School
29  35  Big City Suburbs    High School
30  32  Big City Suburbs    High School
31  30  Big City Suburbs    High School
32  43  Big City Suburbs    High School
33  55  Big City Suburbs    High School
34  55  Big City Suburbs    High School
35  28  Big City Suburbs    High School
36  33  Big City Suburbs    High School
37  37  Big City Suburbs    High School
38  51  Big City Suburbs    High School
39  55  Big City Suburbs    High School
40  38  Big City Suburbs    High School
41  39  Big City Suburbs    High School
42  52  Big City Suburbs    High School
43  37  Big City Suburbs    High School
44  53  Big City Suburbs    High School
45  27  Big City Suburbs    High School
46  48  Big City Suburbs    High School
47  48  Big City Suburbs    High School
48  22  Big City Suburbs  Middle School
49  42  Big City Suburbs    High School
50  34             Rural    High School
51  51             Rural    High School
52  49             Rural    High School
53  48             Rural    High School
54  47             Rural    High School
55  47             Rural    High School
56  39             Rural    High School
57  22             Rural  Middle School
58  50             Rural    High School
59  57             Rural    High School
60  59             Rural    High School
61  42             Rural    High School
62  21             Rural  Middle School
63  29             Rural    High School
64  41             Rural    High School
65  37             Rural    High School
66  41             Rural    High School
67  46             Rural    High School
68  58             Rural    High School
69  50             Rural    High School
70  26             Rural    High School
71  41             Rural    High School
72  22             Rural  Middle School
73  30             Rural    High School
74  36             Rural    High School
75  22        Small City    High School
76  39        Small City    High School
77  35        Small City     University
78  55        Small City     University
79  56        Small City    High School
80  43        Small City     University
81  28        Small City    High School
82  56        Small City    High School
83  35        Small City     University
84  49        Small City    High School
85  59        Small City    High School
86  55        Small City     University
87  33        Small City     University
88  57        Small City    High School
89  32        Small City    High School
90  31        Small City    High School
91  35        Small City     University
92  24        Small City    High School
93  40        Small City     University
94  23        Small City    High School
95  37        Small City    High School
96  46        Small City    High School
97  58        Small City     University
98  22        Small City    High School
99  53        Small City    High School